form {
    text-align: center;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#ques {
    float: left;
    width: 50%;
}

#answ {
    float: right;
    width: 50%;
}

#but {
    clear: both;
    padding: 10px;
}

input {
    margin: 10px;
}

p {
    margin: 3px;
}

sup {
    color: red;
}